# #################### #
#  Java / Gradle       #
# #################### #

*.class
*.log
*.ctxt
.mtj.tmp/

*.jar
*.war
*.nar
*.ear
*.zip
*.tar.gz
*.rar

hs_err_pid*

# #################### #
#  Gradle              #
# #################### #

.gradle/
build/
gradle-app.setting
!gradle/wrapper/gradle-wrapper.jar

# #################### #
#  IntelliJ IDEA       #
# #################### #

.idea/
*.iws
*.iml
*.ipr
out/


# #################### #
#  Visual Studio Code  #
# #################### #

.vscode/
.history/
*.code-workspace

# #################### #
#  Neovim / LSP        #
# #################### #

*.sw[a-p]
Session.vim
.jdtls-workspace/
.cache/

# #################### #
#  macOS / Windows     #
# #################### #

.DS_Store
Thumbs.db


# #################### #
#  Eclipse             #
# #################### #

.project
.classpath
.settings/
bin/

# NetBeans
/nbproject/private/
/nbbuild/
/dist/
/nbdist/
.nb-gradle/
